absl-py==1.4.0
aiofiles==22.1.0
aiohttp==3.8.3
aiosignal==1.3.1
aiosqlite==0.18.0
alembic==1.9.4
anndata==0.8.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
blessed==1.19.1
blis==0.7.9
blosc2==2.0.0
bootstrapped==0.0.2
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.0.4
cloudpickle==2.2.1
comm==0.1.2
confection==0.0.4
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.7
Cython==0.29.33
dask==2023.1.1
databricks-cli==0.17.4
dataclasses-json==0.5.7
debugpy==1.6.6
decorator==5.1.1
deepdiff==6.2.3
defusedxml==0.7.1
dieboldmariano==1.0.0
dill==0.3.6
distlib==0.3.6
dm-tree==0.1.8
docker==6.0.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
experiment-impact-tracker==0.1.8
fastjsonschema==2.16.2
filelock==3.9.0
Flask==2.2.3
flatbuffers==23.1.21
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.3
gast==0.4.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==1.0.0
greenlet==2.0.2
grpcio==1.43.0
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.8.0
huggingface-hub==0.12.0
hummingbird-ml==0.4.7
hyperopt==0.2.7
idna==3.4
imageio==2.25.0
importlib-metadata==6.0.0
ipykernel==6.21.1
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.5.0
jupyter-events==0.5.0
jupyter-ydoc==0.2.2
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
kaggle==1.5.12
keras==2.11.0
keras-tuner==1.3.3
kiwisolver==1.4.4
kt-legacy==1.0.4
langcodes==3.3.0
libclang==15.0.6.1
lightgbm==3.3.5
llvmlite==0.39.1
locket==1.0.0
ludwig==0.6.4
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-dataclass==8.5.5
marshmallow-enum==1.5.1
marshmallow-jsonschema==0.13.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
mistune==2.0.5
mlflow==2.2.0
msgpack==1.0.4
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==0.4.3
natsort==8.2.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.0
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
nvidia-ml-py==11.495.46
oauthlib==3.2.2
onnx==1.12.0
onnxconverter-common==1.13.0
openpyxl==3.1.0
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.8.5
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pathy==0.10.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
plotly==5.13.1
preshed==3.0.8
progiter==1.1.0
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.4
pyDeprecate==0.3.2
Pygments==2.14.0
PyJWT==2.6.0
PyLaTeX==1.4.1
pynndescent==0.5.8
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.4
python-slugify==8.0.0
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
querystring-parser==1.2.4
ratelim==0.1.6
ray==2.0.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
scanpy==1.9.1
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.11.2
Send2Trash==1.8.0
session-info==1.0.0
shap==0.41.0
shapely==2.0.1
six==1.16.0
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.4
sqlparse==0.4.3
srsly==2.4.5
stack-data==0.6.2
statannotations==0.5.0
statsmodels==0.13.5
stdlib-list==0.8.0
tables==3.8.0
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
thinc==8.1.7
threadpoolctl==3.1.0
tifffile==2023.2.3
tinycss2==1.2.1
tokenizers==0.12.1
tomli==2.0.1
toolz==0.12.0
torch==1.13.1
torch-geometric==2.3.1
torchaudio==0.13.1
torchinfo==1.7.1
torchmetrics==0.8.2
torchtext==0.14.1
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.21.3
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.4.0
ujson==5.7.0
umap-learn==0.5.3
uri-template==1.2.0
urllib3==1.26.14
virtualenv==20.17.1
wasabi==1.1.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wrapt==1.14.1
xlrd==2.0.1
xlwt==1.3.0
y-py==0.5.5
yarl==1.8.2
ypy-websocket==0.8.2
zipp==3.12.0
