ipykernel
notebook
numpy
pandas
tensorflow
keras
matplotlib
pydot
graphviz
sklearn
plotly
ipywidgets
jupyterlab
opencv-contrib-python
seaborn==0.11.2
PyYAML
keract
mlflow
cellcutter
scikit-image
scipy
Cython
scimap
anndata
tqdm